:root,
:root .el-dialog,
:root .el-popper,
:root .white {
  --el-mask-color: #ffffffe6;
  --icon-color: #000000;
  --circle-button-hover-bg-color: #00000013;
  --circle-button-active-bg-color: #0000002d;
}

:root.dark,
:root .black {
  --el-mask-color: #000000cc;
  --icon-color: #ffffff;
  --circle-button-hover-bg-color: #ffffff26;
  --circle-button-active-bg-color: #ffffff4d;  
}

$icon-color: var(--icon-color);
$circle-button-hover-bg-color: var(--circle-button-hover-bg-color);
$circle-button-active-bg-color: var(--circle-button-hover-bg-color);
